body,
html,
#root {
  width: 100vw;
  height: 100vh;

  overflow: hidden;

  background: rgb(19, 19, 19);

  color: white;

  margin: 0;
}

.wrapper {
  display: flex;

  width: 100%;
  height: 100%;

  flex-direction: column;

  align-items: center;
  justify-content: center;

  z-index: 10;
}

.title {
  font-size: 48px;
}
.subtitle {
  font-size: 40px;
}
.contents {
  font-size: 28px;
}
